KTBLeasing.FrontLeasing/Service References/ActiveDirectoryService/ActiveDirectoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://localhost" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost/Imports">
      <xsd:import schemaLocation="http://new-server70.ktbleasing.com/ServiceAD/ActiveDirectoryService.svc?xsd=xsd0" namespace="http://localhost" />
      <xsd:import schemaLocation="http://new-server70.ktbleasing.com/ServiceAD/ActiveDirectoryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://new-server70.ktbleasing.com/ServiceAD/ActiveDirectoryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ktbl.ActiveDirectory.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IActiveDirectoryService_CheckAuthenticated_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckAuthenticated" />
  </wsdl:message>
  <wsdl:message name="IActiveDirectoryService_CheckAuthenticated_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckAuthenticatedResponse" />
  </wsdl:message>
  <wsdl:message name="IActiveDirectoryService_GetUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="IActiveDirectoryService_GetUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IActiveDirectoryService_GetName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetName" />
  </wsdl:message>
  <wsdl:message name="IActiveDirectoryService_GetName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IActiveDirectoryService">
    <wsdl:operation name="CheckAuthenticated">
      <wsdl:input wsaw:Action="http://localhost/IActiveDirectoryService/CheckAuthenticated" message="tns:IActiveDirectoryService_CheckAuthenticated_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost/IActiveDirectoryService/CheckAuthenticatedResponse" message="tns:IActiveDirectoryService_CheckAuthenticated_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input wsaw:Action="http://localhost/IActiveDirectoryService/GetUserInfo" message="tns:IActiveDirectoryService_GetUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost/IActiveDirectoryService/GetUserInfoResponse" message="tns:IActiveDirectoryService_GetUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetName">
      <wsdl:input wsaw:Action="http://localhost/IActiveDirectoryService/GetName" message="tns:IActiveDirectoryService_GetName_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost/IActiveDirectoryService/GetNameResponse" message="tns:IActiveDirectoryService_GetName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>